.Chat-box
  .Chat-box__groups-info
    .Chat-box__groups-info__left
      .Chat-box__groups-info__left__title
        hiroyuki
      %ul.Chat-box__groups-info__left__members
        Menber :
        %li.Chat-box__groups-info__left__member
        hiroyuki
   
    = link_to 'Edit' , "#" , class: 'Edit' 
        
        
  .Chat-box__messages
    .Chat-box__message-list
      .Chat-box__message-list__upper-message
        .Chat-box__message-list__upper-message__user-name
          hiroyuki
        .Chat-box__message-list__upper-message__date
          2020/07/17
      .Chat-box__messagelist__lower-message
        howdy?
  
  .Chat-box__message-form
    .Chat-box__message-form__input-box
      %input{ type:"text", class: "input-box__text", placeholder: "type a message"}
      %label{ class: "input-box__image"}
        = icon('fas', 'image')
        %input{ type:"file",class:"input-box__image__file"}
    %input{ type:"submit",class:"submit-btn" , placeholder: "SEND"}